.characterItem {
  flex-basis: 100%;

  border-radius: 4px;
}

@media screen and (min-width: 1020px) {
  .characterItem {
    flex-basis: calc((100% - 3 * 20px) / 4);
  }
}

.characterItemLink {
  display: flex;
  flex-direction: column;

  height: 100%;

  transition: box-shadow 250ms ease-in-out;
}

.characterItemLink:hover,
.characterItemLink:focus {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12),
    0px 2px 4px rgba(0, 0, 0, 0.14);
}

.characterImage {
  width: 312px;
  object-fit: cover;
}

@media screen and (min-width: 1020px) {
  .characterImage {
    width: 240px;
  }
}

.characterInfo {
  flex-grow: 1;
  padding: 12px 16px;

  line-height: 1.5;

  border: 1px solid rgba(0, 0, 0, 0.14);
  border-top: none;
}

.name {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.15px;
}

.species {
  font-size: 14px;
  letter-spacing: 0.25px;
}
